body{
    background-color: rgb(72, 85, 98);
}

/* body {
    background-color: lightsteelblue;
} */
/* 
.cardLayout {
    display: flex;
    flex-direction: row wrap;
    flex-flow: space-around;
} */

.card {
    margin: 5px;
}